*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
body{
    background-color:#32174d;
}
html,body{
    height:100%;
}
#animation{
    display:none;
    width:100%;
    height:100%;
    
    justify-content: center;
    align-items:center;
    z-index:1;
    background-color:#e6eaf3;
}
.fa{
    animation:spin 1s linear infinite;
}
@keyframes spin{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}

}
#grid-container{
    display:grid;
    height:100%;
    grid-template-columns: auto;
    grid-template-rows: 100px auto  auto 50px;
    // grid-gap:5px;
    // >div{
    //     background:yellow;
    
    // }
}
#formdiv{
    width:220px;
    height:45px;
    border:1px solid #3e1d60;
    border-radius:2em;
    margin:0 auto;
    background-color:#3e1d60;
    margin-top:50px;
}
#ingredient{
    width:150px;
    font-size:15px;
    height:30px;
    color:white;
    padding:8px;
    border:none;
    text-align: left;
    background-color:transparent;
}
#search{
    border:none;
    font-size:17px;
    color:white;
    padding-top:5px;
    background-color:transparent;
    width:40px;
    height:30px;

}
input{
    outline:none;
}
#text{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100px;
    font-size: 25px;
    font-family: 'Sofia';
    color:white;
}
body{
    position:relative;
}
#bee{
    display:none;
   
    margin:30px auto;
    font-family: 'Open Sans', sans-serif;
    padding:10px ;
    border-radius:0.5em;
    cursor: pointer;
    font-weight:900;
    font-size: 16px;
    outline:none;
    background: linear-gradient(to right, white 50%,#3e1d60 50%);
    transition: all .5s ease-out;
    background-position: right bottom;
    background-size: 200% 100%;
    width:100px;
    height:40px;
    color:white;
    text-align: center;
    border:1px solid #3e1d60;
        &:hover{
            background-position: left bottom;
            color:#3e1d60;
        }
}



#foot{
    text-align: center;
   
    font-family: 'ABeeZee';
    font-size: 1em;
    margin: 20px;
  
}
.foot{
    padding:0px 3px;
    border-right:thin solid;
    border-left:thin solid;
}


#text2 >  h1{
    color:white;
    padding:50px 20px 0px;
}
::placeholder{
    color:#ffffff;
}

@for $i from 0 through 99 {
    #come#{$i}{
       // width:250px;
        width:20%;
        height:50%;
        margin:2.5%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        text-align:center;
        background-color: white;
        display:inline-block;
        font-weight: 500;
        font-size:18px;
        font-family: "Amaranth";
        >img{
            width:100%;
        }
    }
}
@for $b from 0 through 99 {
    #cont#{$b}{
       padding:10px;
      
    }
}

a{
    text-decoration: none;
   
}
#text2{
    text-align:center;
    margin-top:50px;
  
    >h1{
        font-size: 30px;
        
        font-weight: 500;
        font-family: "Amaranth";
        padding-top:10px;
    }
    
}

#text3{
    color:white;
    padding-top:20px;
    >h2{
       
        font-family: 'ABeeZee';
        font-weight: 300;
       padding-bottom:50px;
        text-align:center;
        font-size: 23px;
    }
}
#tags{
    text-align:center;
    margin:0 auto;
}
.tag{
    text-decoration: none;
    border:1px solid #3e1d60;
    border-radius: 30px;
    background-color: #3e1d60;
    color:white;
    padding: 14px 20px;
    margin-right: 6px;
    margin-bottom: 6px;
    display:inline-block;
    font-family: "Amaranth";
    font-size:18px;
    &:hover{
        background-color: transparent;
        color:black;
        border:1px solid black;

    }
}
