@media screen and (max-width: 900px) {
  #come0 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come1 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come2 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come3 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come4 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come5 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come6 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come7 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come8 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come9 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come10 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come11 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come12 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come13 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come14 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come15 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come16 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come17 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come18 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come19 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come20 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come21 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come22 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come23 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come24 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come25 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come26 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come27 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come28 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come29 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come30 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come31 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come32 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come33 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come34 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come35 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come36 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come37 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come38 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come39 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come40 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come41 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come42 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come43 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come44 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come45 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come46 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come47 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come48 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come49 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come50 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come51 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come52 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come53 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come54 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come55 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come56 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come57 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come58 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come59 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come60 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come61 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come62 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come63 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come64 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come65 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come66 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come67 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come68 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come69 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come70 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come71 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come72 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come73 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come74 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come75 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come76 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come77 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come78 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come79 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come80 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come81 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come82 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come83 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come84 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come85 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come86 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come87 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come88 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come89 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come90 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come91 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come92 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come93 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come94 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come95 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come96 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come97 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come98 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
  #come99 {
    width: 30%;
    height: 40%;
    margin: 1.66%;
  }
}

@media screen and (max-width: 600px) {
  #come0 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come1 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come2 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come3 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come4 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come5 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come6 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come7 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come8 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come9 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come10 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come11 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come12 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come13 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come14 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come15 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come16 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come17 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come18 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come19 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come20 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come21 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come22 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come23 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come24 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come25 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come26 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come27 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come28 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come29 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come30 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come31 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come32 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come33 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come34 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come35 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come36 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come37 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come38 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come39 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come40 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come41 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come42 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come43 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come44 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come45 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come46 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come47 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come48 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come49 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come50 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come51 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come52 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come53 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come54 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come55 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come56 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come57 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come58 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come59 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come60 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come61 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come62 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come63 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come64 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come65 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come66 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come67 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come68 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come69 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come70 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come71 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come72 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come73 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come74 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come75 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come76 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come77 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come78 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come79 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come80 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come81 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come82 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come83 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come84 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come85 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come86 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come87 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come88 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come89 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come90 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come91 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come92 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come93 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come94 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come95 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come96 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come97 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come98 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
  #come99 {
    width: 45%;
    height: 50%;
    margin: 2.5%;
    font-size: 17px;
  }
}

@media screen and (max-width: 500px) {
  #text2 > h1 {
    font-size: 25px;
  }
  #text {
    font-size: 20px;
  }
  #come0 {
    font-size: 16px;
  }
  #come1 {
    font-size: 16px;
  }
  #come2 {
    font-size: 16px;
  }
  #come3 {
    font-size: 16px;
  }
  #come4 {
    font-size: 16px;
  }
  #come5 {
    font-size: 16px;
  }
  #come6 {
    font-size: 16px;
  }
  #come7 {
    font-size: 16px;
  }
  #come8 {
    font-size: 16px;
  }
  #come9 {
    font-size: 16px;
  }
  #come10 {
    font-size: 16px;
  }
  #come11 {
    font-size: 16px;
  }
  #come12 {
    font-size: 16px;
  }
  #come13 {
    font-size: 16px;
  }
  #come14 {
    font-size: 16px;
  }
  #come15 {
    font-size: 16px;
  }
  #come16 {
    font-size: 16px;
  }
  #come17 {
    font-size: 16px;
  }
  #come18 {
    font-size: 16px;
  }
  #come19 {
    font-size: 16px;
  }
  #come20 {
    font-size: 16px;
  }
  #come21 {
    font-size: 16px;
  }
  #come22 {
    font-size: 16px;
  }
  #come23 {
    font-size: 16px;
  }
  #come24 {
    font-size: 16px;
  }
  #come25 {
    font-size: 16px;
  }
  #come26 {
    font-size: 16px;
  }
  #come27 {
    font-size: 16px;
  }
  #come28 {
    font-size: 16px;
  }
  #come29 {
    font-size: 16px;
  }
  #come30 {
    font-size: 16px;
  }
  #come31 {
    font-size: 16px;
  }
  #come32 {
    font-size: 16px;
  }
  #come33 {
    font-size: 16px;
  }
  #come34 {
    font-size: 16px;
  }
  #come35 {
    font-size: 16px;
  }
  #come36 {
    font-size: 16px;
  }
  #come37 {
    font-size: 16px;
  }
  #come38 {
    font-size: 16px;
  }
  #come39 {
    font-size: 16px;
  }
  #come40 {
    font-size: 16px;
  }
  #come41 {
    font-size: 16px;
  }
  #come42 {
    font-size: 16px;
  }
  #come43 {
    font-size: 16px;
  }
  #come44 {
    font-size: 16px;
  }
  #come45 {
    font-size: 16px;
  }
  #come46 {
    font-size: 16px;
  }
  #come47 {
    font-size: 16px;
  }
  #come48 {
    font-size: 16px;
  }
  #come49 {
    font-size: 16px;
  }
  #come50 {
    font-size: 16px;
  }
  #come51 {
    font-size: 16px;
  }
  #come52 {
    font-size: 16px;
  }
  #come53 {
    font-size: 16px;
  }
  #come54 {
    font-size: 16px;
  }
  #come55 {
    font-size: 16px;
  }
  #come56 {
    font-size: 16px;
  }
  #come57 {
    font-size: 16px;
  }
  #come58 {
    font-size: 16px;
  }
  #come59 {
    font-size: 16px;
  }
  #come60 {
    font-size: 16px;
  }
  #come61 {
    font-size: 16px;
  }
  #come62 {
    font-size: 16px;
  }
  #come63 {
    font-size: 16px;
  }
  #come64 {
    font-size: 16px;
  }
  #come65 {
    font-size: 16px;
  }
  #come66 {
    font-size: 16px;
  }
  #come67 {
    font-size: 16px;
  }
  #come68 {
    font-size: 16px;
  }
  #come69 {
    font-size: 16px;
  }
  #come70 {
    font-size: 16px;
  }
  #come71 {
    font-size: 16px;
  }
  #come72 {
    font-size: 16px;
  }
  #come73 {
    font-size: 16px;
  }
  #come74 {
    font-size: 16px;
  }
  #come75 {
    font-size: 16px;
  }
  #come76 {
    font-size: 16px;
  }
  #come77 {
    font-size: 16px;
  }
  #come78 {
    font-size: 16px;
  }
  #come79 {
    font-size: 16px;
  }
  #come80 {
    font-size: 16px;
  }
  #come81 {
    font-size: 16px;
  }
  #come82 {
    font-size: 16px;
  }
  #come83 {
    font-size: 16px;
  }
  #come84 {
    font-size: 16px;
  }
  #come85 {
    font-size: 16px;
  }
  #come86 {
    font-size: 16px;
  }
  #come87 {
    font-size: 16px;
  }
  #come88 {
    font-size: 16px;
  }
  #come89 {
    font-size: 16px;
  }
  #come90 {
    font-size: 16px;
  }
  #come91 {
    font-size: 16px;
  }
  #come92 {
    font-size: 16px;
  }
  #come93 {
    font-size: 16px;
  }
  #come94 {
    font-size: 16px;
  }
  #come95 {
    font-size: 16px;
  }
  #come96 {
    font-size: 16px;
  }
  #come97 {
    font-size: 16px;
  }
  #come98 {
    font-size: 16px;
  }
  #come99 {
    font-size: 16px;
  }
  #cont0 {
    padding: 5px;
  }
  #cont1 {
    padding: 5px;
  }
  #cont2 {
    padding: 5px;
  }
  #cont3 {
    padding: 5px;
  }
  #cont4 {
    padding: 5px;
  }
  #cont5 {
    padding: 5px;
  }
  #cont6 {
    padding: 5px;
  }
  #cont7 {
    padding: 5px;
  }
  #cont8 {
    padding: 5px;
  }
  #cont9 {
    padding: 5px;
  }
  #cont10 {
    padding: 5px;
  }
  #cont11 {
    padding: 5px;
  }
  #cont12 {
    padding: 5px;
  }
  #cont13 {
    padding: 5px;
  }
  #cont14 {
    padding: 5px;
  }
  #cont15 {
    padding: 5px;
  }
  #cont16 {
    padding: 5px;
  }
  #cont17 {
    padding: 5px;
  }
  #cont18 {
    padding: 5px;
  }
  #cont19 {
    padding: 5px;
  }
  #cont20 {
    padding: 5px;
  }
  #cont21 {
    padding: 5px;
  }
  #cont22 {
    padding: 5px;
  }
  #cont23 {
    padding: 5px;
  }
  #cont24 {
    padding: 5px;
  }
  #cont25 {
    padding: 5px;
  }
  #cont26 {
    padding: 5px;
  }
  #cont27 {
    padding: 5px;
  }
  #cont28 {
    padding: 5px;
  }
  #cont29 {
    padding: 5px;
  }
  #cont30 {
    padding: 5px;
  }
  #cont31 {
    padding: 5px;
  }
  #cont32 {
    padding: 5px;
  }
  #cont33 {
    padding: 5px;
  }
  #cont34 {
    padding: 5px;
  }
  #cont35 {
    padding: 5px;
  }
  #cont36 {
    padding: 5px;
  }
  #cont37 {
    padding: 5px;
  }
  #cont38 {
    padding: 5px;
  }
  #cont39 {
    padding: 5px;
  }
  #cont40 {
    padding: 5px;
  }
  #cont41 {
    padding: 5px;
  }
  #cont42 {
    padding: 5px;
  }
  #cont43 {
    padding: 5px;
  }
  #cont44 {
    padding: 5px;
  }
  #cont45 {
    padding: 5px;
  }
  #cont46 {
    padding: 5px;
  }
  #cont47 {
    padding: 5px;
  }
  #cont48 {
    padding: 5px;
  }
  #cont49 {
    padding: 5px;
  }
  #cont50 {
    padding: 5px;
  }
  #cont51 {
    padding: 5px;
  }
  #cont52 {
    padding: 5px;
  }
  #cont53 {
    padding: 5px;
  }
  #cont54 {
    padding: 5px;
  }
  #cont55 {
    padding: 5px;
  }
  #cont56 {
    padding: 5px;
  }
  #cont57 {
    padding: 5px;
  }
  #cont58 {
    padding: 5px;
  }
  #cont59 {
    padding: 5px;
  }
  #cont60 {
    padding: 5px;
  }
  #cont61 {
    padding: 5px;
  }
  #cont62 {
    padding: 5px;
  }
  #cont63 {
    padding: 5px;
  }
  #cont64 {
    padding: 5px;
  }
  #cont65 {
    padding: 5px;
  }
  #cont66 {
    padding: 5px;
  }
  #cont67 {
    padding: 5px;
  }
  #cont68 {
    padding: 5px;
  }
  #cont69 {
    padding: 5px;
  }
  #cont70 {
    padding: 5px;
  }
  #cont71 {
    padding: 5px;
  }
  #cont72 {
    padding: 5px;
  }
  #cont73 {
    padding: 5px;
  }
  #cont74 {
    padding: 5px;
  }
  #cont75 {
    padding: 5px;
  }
  #cont76 {
    padding: 5px;
  }
  #cont77 {
    padding: 5px;
  }
  #cont78 {
    padding: 5px;
  }
  #cont79 {
    padding: 5px;
  }
  #cont80 {
    padding: 5px;
  }
  #cont81 {
    padding: 5px;
  }
  #cont82 {
    padding: 5px;
  }
  #cont83 {
    padding: 5px;
  }
  #cont84 {
    padding: 5px;
  }
  #cont85 {
    padding: 5px;
  }
  #cont86 {
    padding: 5px;
  }
  #cont87 {
    padding: 5px;
  }
  #cont88 {
    padding: 5px;
  }
  #cont89 {
    padding: 5px;
  }
  #cont90 {
    padding: 5px;
  }
  #cont91 {
    padding: 5px;
  }
  #cont92 {
    padding: 5px;
  }
  #cont93 {
    padding: 5px;
  }
  #cont94 {
    padding: 5px;
  }
  #cont95 {
    padding: 5px;
  }
  #cont96 {
    padding: 5px;
  }
  #cont97 {
    padding: 5px;
  }
  #cont98 {
    padding: 5px;
  }
  #cont99 {
    padding: 5px;
  }
}
